<h1>Listing rankings</h1>

<table>
  <thead>
    <tr>
      <th>Complete time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
    <tr>
      <td><%= ranking.complete_time %></td>
      <td><%= link_to 'Show', ranking %></td>
      <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
      <td><%= link_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Ranking', new_ranking_path %>
